page-help {
    .header.theme_header {
        padding-bottom: 20px;

        .toolbar .title .toolbar-title p {
            margin-top: 2px;
        }
    }

    .scroll-content {
        background: $item_bg;
    }

    .list {
        padding-top: 20px;
        margin: 0;

        .item {
            background: none;
            width: calc(100% - 40px);
            margin: 0 auto;
            padding: 12px 0;

            .item-inner {
                padding: 0;

                .label {
                    margin: 0;
                    white-space: normal;

                    h2 {
                        color: $white;
                        font-size: 1.45rem;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        margin: 0;
                        font-weight: 500;
                        letter-spacing: .5px;
                        margin-bottom: 4px;

                        ion-icon {
                            color: $theme-color;
                            font-size: 1.4rem;
                        }
                    }

                    h3 {
                        margin: 0;
                        font-size: 1.3rem;
                        color: $info;
                    }

                    p {
                        font-size: 1.3rem;
                        color: lighten($info, 10%);
                        padding-top: 10px;
                        line-height: 19px;
                        display: none;
                    }
                }
            }

            &.active {
                p {
                    display: block !important;

                }

                h2 {
                    ion-icon {
                        transform: rotate(180deg);
                    }
                }
            }

        }
    }
}
