@import '../assets/material_icon/material-design-iconic-font.min.css';
@font-face {
    font-family: 'Google Sans';
    src: url('GoogleSans-Regular.woff2') format('woff2'), url('NeoSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Google Sans';
    src: url('NeoSans-MediumItalic.woff2') format('woff2'), url('NeoSans-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Google Sans';
    src: url('NeoSans-Bold.woff2') format('woff2'), url('NeoSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Google Sans';
    src: url('NeoSans-BoldItalic.woff2') format('woff2'), url('NeoSans-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Google Sans';
    src: url('NeoSans-Medium.woff2') format('woff2'), url('NeoSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Google Sans';
    src: url('NeoSans-Italic.woff2') format('woff2'), url('NeoSans-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url('../assets/font/material_icons.woff2') format('woff2');
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url('../assets/material_icon/Material-Design-Iconic-Font.woff') format('woff');
}

.zmdi {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

*,
body,
html,
a,
p,
span,
h1,
h2,
h3,
h4,
h5,
h6,
d,
strong,
lable,
li {
    font-family: 'Google Sans';
    //letter-spacing: .05rem;
}

$theme-color: #fdb036;
$bg-color: #000000;
$info: #686868;
$item_bg: darken($info,
20%);
$white: #fff;
$gray:#a2a2a2;
$fb_color:#3a48b1;
$green_color:#369618;
$yelow_color:#c2ff1c;
$red_color:#ff4444;
$header_gradient: linear-gradient(to bottom,
rgba(63,
63,
63,
0.74) 0%,
rgba(62,
62,
62,
0.74) 1%,
rgba(0,
0,
0,
0) 100%);
.color_negro {
    color: #000000;
}

.bg-color {
    background: $bg-color;
}

.bg-img {
    background: url(../assets/imgs/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
}

//.theme_gradient_text {
//    background: $theme-gradient !important;
//    -webkit-background-clip: text;
//    -webkit-text-fill-color: transparent;
//}
//
ion-list.list-no-border {
    .item:first-child {
        border: none;
    }
    .item:last-child {
        border: none;
    }
    .item-block {
        .item-inner {
            border: none;
        }
    }
}

ion-list.list-full-border {
    @extend .list-no-border;
    .item,
    .item:first-child,
    .item:last-child {
        border-bottom: 1px solid color($colors, listBorder);
    }
}

.button {
    &.btn {
        font-size: 1.54rem;
        font-weight: 600;
        text-transform: uppercase;
        height: 55px;
        box-shadow: none;
        background: $theme-color;
        text-transform: none;
        color: $bg-color;
        letter-spacing: .8px;
        &:hover:not(.disable-hover) {
            background: $theme-color;
        }
        &[block] {
            border-radius: 4px;
        }
        &[clear] {
            color: $theme-color;
            background: none;
            font-weight: 500;
            &:hover:not(.disable-hover) {
                background: none;
            }
        }
    }
}

.d-flex {
    display: flex !important;
    align-items: center;
    width: 100%;
    .end {
        margin-left: auto;
        margin-right: 0;
        display: block;
    }
}

.center_img {
    position: relative;
    overflow: hidden;
    img {
        &.crop_img {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            bottom: 0;
            left: -50% !important;
            right: -50% !important;
            margin: auto;
        }
    }
}

.header {
    &::after {
        display: none;
    }
    &.bg-transparent {
        .toolbar-background {
            background: transparent !important;
        }
    }
    .toolbar {
        .toolbar-background {
            background-color: transparent;
            border: none !important;
        }
        .bar-button {
            z-index: 999;
            margin: 0;
            padding: 0;
            min-width: unset;
            padding-left: 9px;
            //
            //            .ion-md-arrow-back:before {
            //                content: "\f3cf";
            //            }
            .button-inner {
                ion-icon {
                    padding-left: 9px;
                    font-size: 3rem;
                    color: #5a5ba2;
                    .back-button-text {
                        display: none !important;
                    }
                }
                .back-button-text {
                    display: none !important;
                }
            }
        }
        .title {
            .toolbar-title {
                font-size: 1.5rem;
                font-weight: 500;
                color: darken($white, 0%);
                display: block;
                align-items: center;
                text-transform: none;
                letter-spacing: .8px;
            }
            .end {
                margin-left: auto !important;
                img {
                    width: 22px;
                    margin: 0 10px;
                }
            }
        }
        &.toolbar-ios {
            ion-title {
                padding: 0 16px;
                position: unset;
                .toolbar-title-ios {
                    text-align: justify;
                }
            }
            .back-button {
                .button-inner {
                    .back-button-icon-ios {}
                    .back-button-text {
                        display: none !important;
                    }
                }
            }
        }
    }
    &.theme_header {
        //padding: 20px 10px 0 10px;
        .toolbar {
            display: block;
            .title .toolbar-title {
                h2 {
                    margin: 0;
                    font-size: 3rem;
                    font-weight: 600;
                    letter-spacing: .5px;
                    line-height: 37px;
                    margin-top: 10px;
                }
                p {
                    margin: 0;
                    font-size: 1.3rem;
                    color: lighten($info, 0%);
                    margin-top: 5px;
                    letter-spacing: 0px;
                }
            }
        }
        .bar-button {
            padding-left: 3px;
        }
    }
    &.header_gradient {
        background: transparent;
    }
}

.form {
    display: block;
    position: relative;
    background: $item_bg;
    padding: 0 25px 0 25px;
    .list {
        overflow: hidden;
        margin: 0;
    }
    .item {
        padding: 11px 0px 13px 0px;
        min-height: unset;
        border-bottom: 1px solid $bg-color !important;
        box-shadow: none !important;
        background: none;
        align-items: center;
        margin-bottom: 13px;
        .icon_box {
            margin: 0 !important;
            margin-right: 16px !important;
            position: relative;
            top: 2px;
            img {
                width: 23px;
            }
        }
        .item-inner {
            border: none !important;
            box-shadow: none !important;
            margin-left: 0 !important;
            padding: 0;
            .label {
                font-size: 1.9rem;
                color: lighten($info, 0%);
                text-transform: none;
                opacity: 1 !important;
                margin: 0px;
                margin-bottom: 4px;
                letter-spacing: 0px;
            }
            ion-textarea,
            ion-input {
                font-size: 2rem;
                font-weight: 500;
                margin-top: 0px;
                color: $white;
                .text-input {
                    margin: 0;
                    letter-spacing: .5px;
                }
                 ::-webkit-input-placeholder {
                    color: darken($gray, 5%);
                    font-size: 1.5rem;
                    font-weight: 500;
                    letter-spacing: .7px;
                }
                 ::-moz-placeholder {
                    color: darken($gray, 5%);
                    font-size: 1.5rem;
                    font-weight: 500;
                    letter-spacing: .7px;
                }
                 :-ms-input-placeholder {
                    color: darken($gray, 5%);
                    font-size: 1.5rem;
                    font-weight: 500;
                    letter-spacing: .7px;
                }
                 :-moz-placeholder {
                    color: darken($gray, 5%);
                    font-size: 1.5rem;
                    font-weight: 500;
                    letter-spacing: .7px;
                }
            }
        }
        &.item-input-has-focus {
            .label {
                color: $gray;
            }
        }
        img {
            &[item-start] {
                margin: 0;
                width: 20px;
                margin: 0 15px;
            }
        }
        h3 {
            margin: 0 !important;
            height: 19px;
            font-weight: 500;
            font-size: 1.3rem;
            letter-spacing: .5px;
            line-height: 19px;
            //            background: $theme-gradient;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-weight: 700;
            position: relative;
            z-index: 1111;
        }
        &:first-child {
            border-top: none !important;
        }
        &.item-select {
            min-height: unset;
            .label {
                color: darken($gray, 5%);
                font-size: 1.5rem;
                font-weight: 500;
                letter-spacing: .7px;
            }
            .select {
                padding: 0;
                max-width: unset;
                //width: 100%;
                .select-text {
                    font-size: 1.5rem;
                    font-weight: 400;
                    margin-top: 0px;
                    color: $white;
                }
                .select-icon {
                    width: 18px;
                    .select-icon-inner {
                        color: $white;
                    }
                }
            }
            &.input-has-value {
                .label {
                    display: none;
                }
                .select {
                    width: 100%;
                }
            }
        }
    }
    .row {
        margin: 0 -7px;
        .col {
            padding: 0 7px;
        }
    }
}

.menu-inner {
    //background: none !important;
    .header {
        //padding-top: 10px;
        .profile_box {
            padding: 8px;
            .profile_img {
                width: 60px;
                height: 60px;
                border-radius: 4px;
                margin-right: 15px;
            }
            .profile_details {
                h2 {
                    color: #5a5ba2;
                    font-size: 1.8rem;
                    margin: 0;
                    padding-bottom: 7px;
                    letter-spacing: .5px;
                }
                p {
                    color: #5a5ba2;
                    margin: 0;
                    font-size: 1.2rem;
                    letter-spacing: .5px;
                }
            }
        }
    }
    .scroll-content {
        background: #fff;
        .list {
            margin: 0;
            //padding-top: 16px;
            //background: #fff;
            ion-avatar {
                min-width: unset;
                min-height: unset;
                &[item-start] {
                    margin: 0;
                    margin-right: 10px;
                }
                ion-icon {
                    color: #5a5ba2;
                    font-size: 2.2rem;
                }
            }
            .item {
                background: none;
                padding: 13px 30px 13px 20px;
                min-height: unset;
                .item-inner {
                    padding: 0;
                    .label {
                        margin: 0;
                        h2 {
                            color: #686868;
                            text-transform: capitalize;
                            font-size: 1.5rem;
                            letter-spacing: .5px;
                            font-weight: 500;
                            width: auto;
                        }
                    }
                }
            }
        }
    }
}

.select-alert {
    .alert-wrapper {
        background: $info;
        .alert-head {
            color: $white;
            text-align: center;
        }
        .alert-radio-group {
            .alert-radio-label {
                color: $white;
            }
        }
        .alert-button-group {
            //padding: 0;
            padding-left: 10px;
            padding-right: 10px;
            justify-content: unset;
            .alert-button {
                display: block;
                margin: 0;
                background: $theme-color;
                border-radius: 4px;
                color: $white;
                padding: 10px 19px;
                font-size: 1.6rem;
                font-weight: 500;
                &:last-child {
                    margin-left: auto;
                }
            }
        }
    }
}

[dir="rtl"] body {
    //    .material-icons {
    //        direction: rtl;
    //    }
    .header {
        .toolbar {
            .title {
                .toolbar-title {
                    .end {
                        margin-left: 0 !important;
                        margin-right: auto !important;
                    }
                }
            }
            .bar-button {
                padding-left: 0px;
                padding-right: 9px;
            }
        }
        &.theme_header .toolbar .bar-button {
            padding-left: 0px;
            padding-right: 3px;
        }
    }
    .d-flex {
        .end {
            margin-left: 0;
            margin-right: auto;
        }
    }
    .form {
        ion-label {
            transform-origin: right top !important;
            margin-right: 0;
        }
        .item .item-inner ion-textarea .text-input,
        .item .item-inner ion-input .text-input {
            text-align: right;
        }
        .item .icon_box {
            margin-right: 0px !important;
            margin-left: 16px !important;
        }
    }
    page-home .search_box {
        ion-icon {
            margin-right: 0;
            margin-left: 13px;
        }
        ion-searchbar .searchbar-input {
            text-align: right;
        }
    }
    page-trip_info .list .item .item_box,
    page-my_trips .list .item .item_box,
    page-book_ride .list .item .item_box,
    page-locatino_selected .list .item .item_box,
    page-search .list .item .item_box {
        ion-icon {
            text-align: right;
        }
        .input {
            border-left: 0;
            border-right: 1px solid $theme-color;
            .text-input {
                text-align: right;
            }
        }
        &::after,
        &::before {
            left: unset;
            right: 7px;
        }
    }
    page-locatino_selected {
        .payment_option {
            right: unset;
            left: 22px;
            h2 ion-icon {
                margin-right: 0px;
                margin-left: 9px;
            }
        }
        .footer .btn_box h2 ion-icon {
            margin-right: 0px;
            margin-left: 13px;
        }
    }
    page-choose_cab {
        .footer .list ion-scroll .item {
            &:first-child {
                margin-right: 10px;
                margin-left: 2px;
            }
            &:last-child {
                margin-left: 10px;
                margin-right: 2px;
            }
        }
    }
    page-trip_info .footer,
    page-book_ride .footer {
        .list .item {
            .img_box[item-start] {
                margin-right: 0px;
                margin-left: 13px;
            }
            &.ride_details .item-inner .label .row .col h2 ion-icon {
                margin-right: 0px;
                margin-left: 5px;
            }
        }
    }
    .menu-inner {
        .header .profile_box .profile_img {
            margin-right: 0px;
            margin-left: 15px;
        }
        .scroll-content .list ion-avatar[item-start] {
            margin-right: 0px;
            margin-left: 20px;
        }
    }
    page-my_trips .list .item .item-inner .label .item_header .img_box {
        margin-right: 0px;
        margin-left: 13px;
    }
    page-wallet .list .item .item-inner .label .item_header .img_box {
        margin-right: 0;
        margin-left: 13px;
    }
    page-rate_ride .card .container {
        ion-row .col.ride_fare_details h4 ion-icon {
            margin-right: 0px;
            margin-left: 7px;
        }
        .ride_info {
            .item_box {
                ion-icon {
                    text-align: right;
                }
                .input {
                    border-left: 0;
                    border-right: 1px solid $theme-color;
                    .text-input {
                        text-align: right;
                    }
                }
                &::after,
                &::before {
                    left: unset;
                    right: 7px;
                }
            }
        }
    }
}